* {
  margin: 0;
  padding: 0;
}

#header h1 {
  padding: 8px;
  margin-bottom: 20px;
}

.title,
.author,
.remove {
  margin: 8px;
}

#AddBook {
  margin-top: 30px;
}

#AddBook input {
  margin: 8px;
}

hr { width: 200px; }
